body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

main {
	background-color: rgba(0, 0, 0, 0.3);
	background-blend-mode: color;
	background-image: url('../assets/home.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	width: 100%;
	height: 85%;
}

main h1 {
	font-family: 'Righteous', cursive;
	color: white;
	font-size: 90px;
	padding: 0 10px;
}

footer {
	width: 80%;
	padding: 10px;
	font-family: 'Fjalla One', sans-serif;
}

footer section {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	gap: 10px;
	font-size: 12px;
}

section input {
	margin: 10px 0;
}

section p {
	margin: 10px 0;
}

button img {
	color: white;
}

footer button {
	font-family: 'Fjalla One', sans-serif;
	width: 100%;
	height: 60px;
	border: none;
	background-color: black;
	color: white;
}

@media screen and (min-width: 800px) {
	main {
		height: 100%;
		width: 100%;
	}

	footer {
		color: white;
		position: absolute;
		align-self: flex-start;
		top: 160px;
		margin-left: 10px;
		width: 660px;
	}
}