body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 0 20px;
	height: 100%;
	font-family: 'Fjalla One', sans-serif;
}

/* NAV */

body nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

nav button {
	height: 50px;
	border: none;
	background: none;
}

body main {
	display: flex;
	flex-direction: column;
	height: 100%;
}

/* ARTICLE */

body article {
	display: flex;
	gap: 4%;
	width: 100%;
	height: 45%;
}

#previewer {
	display: flex;
	width: 70%;
	height: 100%;
	background-position: 65%;
	background-size: cover;
	background-image: url(../assets/detail-1.jpg);
}

article aside {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	gap: 6%;
	height: 100%;
	width: 25%;
}

aside div {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

#second-image {
	height: 20%;
	background-image: url(../assets/detail-2.jpg);
	background-position: 65%;
	background-size: cover;
}

#third-image {
	height: 20%;
	background-image: url(../assets/detail-3.jpg);
	background-position: 65%;
	background-size: cover;
}

#fourth-image {
	height: 20%;
	background-image: url(../assets/detail-4.jpg);
	background-position: 65%;
	background-size: cover;
}

#last-image {
	height: 20%;
	background-image: url(../assets/detail-1.jpg);
	background-position: center;
	background-color: rgba(0, 0, 0, 0.3);
	background-blend-mode: color;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}

#detail {
	display: flex;
	flex-direction: column;
	font-family: 'Fjalla One', sans-serif;
}

#title {
	margin-top: 16px;
}

#title h2 {
	margin: 0;
	margin-bottom: 8px;
	font-size: 16px;
	font-weight: normal;
	color: lightblue;
}

#title h1 {
	margin: 0;
}

#rating {
	display: flex;
	flex-direction: row;
	align-items: center;
}

#rating img {
	height: 20px;
}

#rating h1 {
	font-size: 18px;
	padding: 0 6px;
	border-right: 1px solid lightgray;
}

#rating p {
	padding-left: 6px;
	color: lightblue;
}

#size {
	display: flex;
	gap: 12px;
	margin: 10px 0 20px;
}

#size .size-box {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid lightgray;
	color: lightgray;
	font-weight: bold;
	height: 36px;
	width: 36px;
}

#information h1 {
	margin: 0;
	font-size: 12px;
	color: black;
}

#information p {
	font-size: 12px;
	color: darkgray;
}

#information strong {
	color: black;
	text-decoration: underline;
}

/* FOOTER */
#checkout {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 20px;
}

#checkout aside {
	display: flex;
	flex-direction: column;
	font-style: italic;
}

#checkout button {
	font-family: 'Fjalla One', sans-serif;
	width: 60%;
	height: 60px;
	border: none;
	background-color: black;
	color: white;
}

aside>h1 {
	margin: 0;
}

aside>h3 {
	margin: 0;
	color: lightgray;
	font-weight: normal;
	font-size: 10px;
}

@media screen and (min-width: 800px) {
	body main {
		flex-direction: row;
	}

	main article {
		height: 90%;
		width: 65%;
	}

	#title {
		font-size: 32px;
	}

	#information h1 {
		font-size: 28px;
	}

	#information p {
		font-size: 22px;
	}

	#detail {
		justify-content: space-evenly;
		width: 35%;
	}
}